body{
    background-color: rgb(133, 125, 125);
}
.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}
.item{
    background-color: aqua;
    margin: 5px;
}