body{
    background-color: rgb(61, 59, 59);
}
.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.flex-item{
    background: crimson;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}
.row-reverse{
    flex-direction: row-reverse;
}
.row-reverse li{
    background-color: red;
}
.column{
    flex-direction: column;
    float: left;
}
.column li{
    background-color: aquamarine;
}
.column-reverse{
    flex-direction: column-reverse;
    float: right;
}
.column-reverse li{
    background-color: chartreuse;
}