body{
    background-color: darkgray;
}
.container{
    max-width: 350px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: flex;
}
.item{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

/*Order*/
.o1{
    order: 1;
}
.o2{
    order: 2;
}
.o3{
    order: 3;
}

/*Align-Self*/
.center{
    align-self: center;
}
.start{
    align-self: flex-start;
}
.end{
    align-self: flex-end;
}
.stretch{
    align-self: stretch;
}
.baseline{
    align-self: baseline;
}
.auto{
    align-self: auto;
}