body{
    background-color: darkgray;
}
.flex-container{
    display: flex;
    height: 150px;
    border: 2px solid black;
    max-width: 300px;
}
.flex-item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    color: wheat;
    text-align: center;
    line-height: 50px;
}
.nowrap{
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: rgb(224, 0, 0);
}