body{
    background-color: darkgray;
}
.flex-container{
    border: 2px solid black;
    margin: 5px;
    max-width: 400px;
    height: 100px;
    display: flex;
}
.flex-item{
    background-color: blueviolet;
    color: aliceblue;
    margin: 5px;
    text-align: center;
    border: 2px black solid;
    flex: 1;
}
.center{
    align-items: center;
}
.stretch{
    align-items: stretch;
}
.flexStart{
    align-items: flex-start;
}
.flexEnd{
    align-items: flex-end;
}
.baseline{
    align-items: baseline;
}