body{
    background-color: darkgray;
}
.container{
    border: 2px solid black;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.item{
    background-color: blueviolet;
    color: aliceblue;
    border: 1px solid black;
    padding: 0 5px;
    flex: 1;
    margin: 5px;
    text-align: center;
}
.center{
    align-content: center;
}
.stretch{
    align-content: stretch;
}
.flexStart{
    align-content: flex-start;
}
.flexEnd{
    align-content: flex-end;
}
.spaceBetween{
    align-content: space-between;
}
.spaceAround{
    align-content: space-around;
}
.column{
    flex-direction: column;
}