body{
    background-color: darkgray;
}
.container{
    display: flex;
    border: 2px solid black;
    max-width: 350px;
}
.item{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
.shrinkPadrao{
    flex-shrink: 1;
}
.shrink0{
    flex-shrink: 0;
    flex-basis: 100px;
}
.fg-1{
    flex-grow: 1;
}